body {
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    font-family: 'Nanum Gothic', sans-serif;
    height: 6000px;
}
/* img {
    display: block;
} */
a {
    text-decoration: none;
}
.inner {
    width: 1100px;
    margin: 0 auto;
    position: relative;
}
.btn {
    width: 130px;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 4px;
    color: #333;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    transition: .4s;
}
.btn:hover {
    background-color: #333;
    color: #fff;
}
.btn.btn--reverse {
    background-color: #333;
    color: #fff;
}
.btn.btn--reverse:hover {
    background-color: transparent;
    color: #333;
}
.btn.btn--brown {
    color: #582b18;
    border-color: #582b18;
}
.btn.btn--brown:hover {
    background-color: #582b18;
    color: #fff;
}
.btn.btn--gold {
    color: #d9aa8a;
    border-color: #d9aa8a;
}
.btn.btn--gold:hover {
    background-color: #d9aa8a;
    color: #fff;
}
.btn.btn--white {
    color: #fff;
    border-color: #fff;
}
.btn.btn--white:hover {
    background-color: #fff;
    color: #333;
}

/* SEASON-PRODUCT */
.season-product {
    background-image: url(../images/season_product_bg.jpg);
}
.season-product .inner {
    height: 400px;
}
.season-product .floating3 {
    position: absolute;
    top: -200px;
    right: 0;
}
.season-product .text-group {
    position: absolute;
    top: 110px;
    right: 100px;
}
.season-product .text-group .title{
    margin-bottom: 10px;
}
.season-product .text-group .description {
    margin-bottom: 15px;
}
.season-product .text-group .more {

}

/* RESERVE COFFEE */
.reserve-coffee {
    background-image: url("../images/reserve_bg.jpg");
}
.reserve-coffee .inner {
    height: 400px;
}
.reserve-coffee .reserve-logo {
    position: absolute;
    top: 110px;
    left: 0;
}
.reserve-coffee .text-group {
    position: absolute;
    top: 124px;
    left: 208px;
}
.reserve-coffee .product {
    position: absolute;
    top: 0;
    right: 0;
}